<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.hydrologis.jgrass.database.annotatedclasses" name="annotatedclasses" schema="schema/annotatedclasses.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.hydrologis.jgrass.database.earlystartup.AnnotatedClassesCollector">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eu.hydrologis.jgrass.database.main"
            label="Database"
            visible="true">
         <action
               class="eu.hydrologis.jgrass.database.view.OpenDatabaseViewAction"
               icon="icons/database_view.gif"
               id="eu.hydrologis.jgrass.database.opendatabaseview"
               label="%database.open.view"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.open.view">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.hydrologis.jgrass.database.category"
            name="%database.category.label">
      </category>
      <view
            allowMultiple="false"
            category="eu.hydrologis.jgrass.database.category"
            class="eu.hydrologis.jgrass.database.view.DatabaseView"
            fastViewWidthRatio="0.30"
            icon="icons/database_view.gif"
            id="eu.hydrologis.jgrass.database.catalogview"
            name="%database.view"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="eu.hydrologis.jgrass.database.category"
            class="eu.hydrologis.jgrass.database.view.DatabaseBrowserView"
            icon="icons/db_browser.gif"
            id="eu.hydrologis.jgrass.database.browserview"
            fastViewWidthRatio="0.30"
            name="%database.browserview"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="eu.hydrologis.jgrass.database.mainviewcontribution"
            targetID="eu.hydrologis.jgrass.database.catalogview">
         <action
               class="eu.hydrologis.jgrass.database.view.RemoveDatabaseAction"
               icon="icons/remove_db.gif"
               id="eu.hydrologis.jgrass.database.remove_action"
               label="%database.view.action.remove"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.remove">
         </action>
                  <action
               class="eu.hydrologis.jgrass.database.view.ImportDatabaseAction"
               icon="icons/import_local_db.gif"
               id="eu.hydrologis.jgrass.database.import_local_action"
               label="%database.view.action.import_local"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.import_local">
         </action>
         <action
               class="eu.hydrologis.jgrass.database.view.ExportDatabaseAction"
               icon="icons/export_local_db.gif"
               id="eu.hydrologis.jgrass.database.export_local_action"
               label="%database.view.action.export_local"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.export_local">
         </action>
         <action
               class="eu.hydrologis.jgrass.database.view.CreateNewRemoteDatabaseAction"
               icon="icons/add_remote_db.gif"
               id="eu.hydrologis.jgrass.database.create_remote_action"
               label="%database.view.action.create_remote"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.create_remote">
         </action>
         <action
               class="eu.hydrologis.jgrass.database.view.CreateNewLocalDatabaseAction"
               icon="icons/add_local_db.gif"
               id="eu.hydrologis.jgrass.database.create_local_action"
               label="%database.view.action.create_local"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.create_local">
         </action>
         <action
               class="eu.hydrologis.jgrass.database.view.OpenExistingLocalDatabaseAction"
               icon="icons/open_local_db.gif"
               id="eu.hydrologis.jgrass.database.open_local_action"
               label="%database.view.action.open_local"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.open_local">
         </action>
         <action
               class="eu.hydrologis.jgrass.database.view.OpenInBrowserViewAction"
               icon="icons/db_browser.gif"
               id="eu.hydrologis.jgrass.database.open_browser_action"
               label="%database.view.action.open_browser"
               style="push"
               toolbarPath="dbtoolbar"
               tooltip="%database.view.action.open_browser">
         </action>

      </viewContribution>
   </extension>
</plugin>
