<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.hydrologis.jgrass.ui.actions.h_adige.AdigeEditor"
            icon="icons/settings.gif"
            id="eu.hydrologis.jgrass.ui.actions.h_adige.AdigeEditor"
            name="h.adige">
      </editor>
      <editor
            class="eu.hydrologis.jgrass.ui.actions.h_sgeo.SaintgeoEditor"
            icon="icons/settings.gif"
            id="eu.hydrologis.jgrass.ui.actions.h_sgeo.SaintgeoEditor"
            name="h.saintgeo">
      </editor>
      <editor
            class="eu.hydrologis.jgrass.ui.actions.h_meteointerpolation.MeteoInterpolationEditor"
            icon="icons/settings.gif"
            id="eu.hydrologis.jgrass.ui.actions.h_meteointerpolation.MeteoInterpolationEditor"
            name="h.meteointerpolator">
      </editor>
      <editor
            class="eu.hydrologis.jgrass.ui.actions.h_ebalance.EnergybalanceEditor"
            icon="icons/settings.gif"
            id="eu.hydrologis.jgrass.ui.actions.h_ebalance.EnergybalanceEditor"
            name="h.energybalance">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="The hydro-geomorphologic package"
            id="eu.hydrologis.jgrass.ui.actionSet"
            label="Horton Machine"
            visible="true">
         <menu
               id="hortonMenu"
               label="&amp;Horton Machine">
            <separator
                  name="demmanipulationGroupSep">
            </separator>
            <separator
                  name="geomorphcommandsGroupSep">
            </separator>
            <separator
                  name="networkGroupSep">
            </separator>
            <separator
                  name="hillslopeGroupSep">
            </separator>
            <separator
                  name="basinGroupSep">
            </separator>
            <separator
                  name="statisticGroupSep">
            </separator>
            <separator
                  name="hydrologyGroupSep">
            </separator>
            <groupMarker
                  name="demmanipulationGroup">
            </groupMarker>
            <groupMarker
                  name="geomorphcommandsGroup">
            </groupMarker>
            <groupMarker
                  name="networkGroup">
            </groupMarker>
            <groupMarker
                  name="hillslopeGroup">
            </groupMarker>
            <groupMarker
                  name="basinGroup">
            </groupMarker>
            <groupMarker
                  name="statisticGroup">
            </groupMarker>
            <groupMarker
                  name="hydrologyGroup">
            </groupMarker>
         </menu>
         <menu
               id="demmanipulationMenu"
               label="%frame.menu.DEM_manipulation.label"
               path="hortonMenu/demmanipulationGroup">
            <groupMarker
                  name="demmanipulationMenuGroup">
            </groupMarker>
         </menu>
         <menu
               id="geomorphcommandsMenu"
               label="%frame.menu.geomorphcommands.label"
               path="hortonMenu/geomorphcommandsGroup">
            <groupMarker
                  name="geomorphcommandsMenuGroup">
            </groupMarker>
         </menu>
         <menu
               id="networkMenu"
               label="%frame.menu.network_related_measures.label"
               path="hortonMenu/networkGroup">
            <groupMarker
                  name="networkMenuGroup">
            </groupMarker>
         </menu>
         <menu
               id="hillslopeMenu"
               label="%frame.menu.hillslope_analyses.label"
               path="hortonMenu/hillslopeGroup">
            <groupMarker
                  name="hillslopeMenuGroup">
            </groupMarker>
         </menu>
         <menu
               id="basinMenu"
               label="%frame.menu.basin.label"
               path="hortonMenu/basinGroup">
            <groupMarker
                  name="basinMenuGroup">
            </groupMarker>
         </menu>
         <menu
               id="statisticMenu"
               label="%frame.menu.statistics.label"
               path="hortonMenu/statisticGroup">
            <groupMarker
                  name="statisticMenuGroup">
            </groupMarker>
         </menu>
         <menu
               id="hydrologyMenu"
               label="%frame.menu.hydro_geomorphology.label"
               path="hortonMenu/hydrologyGroup">
            <groupMarker
                  name="hydrologyMenuGroup">
            </groupMarker>
         </menu>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_markoutlets"
               id="eu.hydrologis.jgrass.ui.actions.h_markoutlets"
               label="%frame.menu.h.markoutlets.label"
               menubarPath="hortonMenu/demmanipulationMenu/demmanipulationMenuGroup"
               tooltip="%frame.menu.h.markoutlets.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_pitfiller"
               id="eu.hydrologis.jgrass.ui.actions.h_pitfiller"
               label="%frame.menu.h.pitfiller.label"
               menubarPath="hortonMenu/demmanipulationMenu/demmanipulationMenuGroup"
               tooltip="%frame.menu.h.pitfiller.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_wateroutlet"
               id="eu.hydrologis.jgrass.ui.actions.h_wateroutlet"
               label="%frame.menu.h.wateroutlet.label"
               menubarPath="hortonMenu/demmanipulationMenu/demmanipulationMenuGroup"
               tooltip="%frame.menu.h.wateroutlet.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_splitsubbasin"
               id="eu.hydrologis.jgrass.ui.actions.h_splitsubbasin"
               label="%frame.menu.h.splitsubbasin.label"
               menubarPath="hortonMenu/demmanipulationMenu/demmanipulationMenuGroup"
               tooltip="%frame.menu.h.splitsubbasin.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_ab"
               id="eu.hydrologis.jgrass.ui.actions.h_ab"
               label="%frame.menu.h.Ab.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.Ab.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_multitca"
               id="eu.hydrologis.jgrass.ui.actions.h_multitca"
               label="%frame.menu.h.multitca.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.multitca.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_nabla"
               id="eu.hydrologis.jgrass.ui.actions.h_nabla"
               label="%frame.menu.h.nabla.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.nabla.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_curvatures"
               id="eu.hydrologis.jgrass.ui.actions.h_curvatures"
               label="%frame.menu.h.curvatures.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.curvatures.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_aspect"
               id="eu.hydrologis.jgrass.ui.actions.h_aspect"
               label="%frame.menu.h.aspect.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.aspect.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_slope"
               id="eu.hydrologis.jgrass.ui.actions.h_slope"
               label="%frame.menu.h.slope.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.slope.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_gradient"
               id="eu.hydrologis.jgrass.ui.actions.h_gradient"
               label="%frame.menu.h.gradient.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.gradient.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_tca3d"
               id="eu.hydrologis.jgrass.ui.actions.h_tca3d"
               label="%frame.menu.h.tca3D.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.tca3D.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_tca"
               id="eu.hydrologis.jgrass.ui.actions.h_tca"
               label="%frame.menu.h.tca.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.tca.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_draindir"
               id="eu.hydrologis.jgrass.ui.actions.h_draindir"
               label="%frame.menu.h.draindir.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.draindir.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_flow"
               id="eu.hydrologis.jgrass.ui.actions.h_flow"
               label="%frame.menu.h.flowdirections.label"
               menubarPath="hortonMenu/geomorphcommandsMenu/geomorphcommandsMenuGroup"
               tooltip="%frame.menu.h.flowdirections.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_netshape2flow"
               id="eu.hydrologis.jgrass.ui.actions.h_netshape2flow"
               label="%frame.menu.h.netshape2flow.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.netshape2flow.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_pfafstetter"
               id="eu.hydrologis.jgrass.ui.actions.h_pfafstetter"
               label="%frame.menu.h.pfafstetter.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.pfafstetter.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_basinshape"
               id="eu.hydrologis.jgrass.ui.actions.h_basinshape"
               label="%frame.menu.h.basinshape.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.basinshape.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_netdif"
               id="eu.hydrologis.jgrass.ui.actions.h_netdif"
               label="%frame.menu.h.netdif.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.netdif.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_netnumbering"
               id="eu.hydrologis.jgrass.ui.actions.h_netnumbering"
               label="%frame.menu.h.netnumbering.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.netnumbering.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_strahler"
               id="eu.hydrologis.jgrass.ui.actions.h_strahler"
               label="%frame.menu.h.strahler.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.strahler.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_seol"
               id="eu.hydrologis.jgrass.ui.actions.h_seol"
               label="%frame.menu.h.seol.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.seol.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_magnitudo"
               id="eu.hydrologis.jgrass.ui.actions.h_magnitudo"
               label="%frame.menu.h.magnitudo.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.magnitudo.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_hackstream"
               id="eu.hydrologis.jgrass.ui.actions.h_hackstream"
               label="%frame.menu.h.hackstream.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.hackstream.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_hacklength3d"
               id="eu.hydrologis.jgrass.ui.actions.h_hacklength3d"
               label="%frame.menu.h.hacklengths3D.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.hacklengths3D.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_hacklength"
               id="eu.hydrologis.jgrass.ui.actions.h_hacklength"
               label="%frame.menu.h.hacklength.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.hacklength.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_dd"
               id="eu.hydrologis.jgrass.ui.actions.h_dd"
               label="%frame.menu.h.DD.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.DD.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_d2o3d"
               id="eu.hydrologis.jgrass.ui.actions.h_d2o3d"
               label="%frame.menu.h.D2O3D.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.D2O3D.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_d2o"
               id="eu.hydrologis.jgrass.ui.actions.h_d2o"
               label="%frame.menu.h.D2O.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.D2O.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_extractnetwork"
               id="eu.hydrologis.jgrass.ui.actions.h_extractnetwork"
               label="%frame.menu.h.extractnetwork.label"
               menubarPath="hortonMenu/networkMenu/networkMenuGroup"
               tooltip="%frame.menu.h.extractnetwork.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_gc"
               id="eu.hydrologis.jgrass.ui.actions.h_gc"
               label="%frame.menu.h.gc.label"
               menubarPath="hortonMenu/hillslopeMenu/hillslopeMenuGroup"
               tooltip="%frame.menu.h.gc.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_tc"
               id="eu.hydrologis.jgrass.ui.actions.h_tc"
               label="%frame.menu.h.tc.label"
               menubarPath="hortonMenu/hillslopeMenu/hillslopeMenuGroup"
               tooltip="%frame.menu.h.tc.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_tau"
               id="eu.hydrologis.jgrass.ui.actions.h_tau"
               label="%frame.menu.h.tau.label"
               menubarPath="hortonMenu/hillslopeMenu/hillslopeMenuGroup"
               tooltip="%frame.menu.h.tau.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_h2cd3d"
               id="eu.hydrologis.jgrass.ui.actions.h_h2cd3d"
               label="%frame.menu.h.h2cD_3D.label"
               menubarPath="hortonMenu/hillslopeMenu/hillslopeMenuGroup"
               tooltip="%frame.menu.h.h2cD_3D.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_h2cd"
               id="eu.hydrologis.jgrass.ui.actions.h_h2cd"
               label="%frame.menu.h.h2cD.label"
               menubarPath="hortonMenu/hillslopeMenu/hillslopeMenuGroup"
               tooltip="%frame.menu.h.h2cD.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_h2ca"
               id="eu.hydrologis.jgrass.ui.actions.h_h2ca"
               label="%frame.menu.h.h2cA.label"
               menubarPath="hortonMenu/hillslopeMenu/hillslopeMenuGroup"
               tooltip="%frame.menu.h.h2cA.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_meandrop"
               id="eu.hydrologis.jgrass.ui.actions.h_meandrop"
               label="%frame.menu.h.mean_drop.label"
               menubarPath="hortonMenu/basinMenu/basinMenuGroup"
               tooltip="%frame.menu.h.mean_drop.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_disteuclidea"
               id="eu.hydrologis.jgrass.ui.actions.h_disteuclidea"
               label="%frame.menu.h.dist_euclidea.label"
               menubarPath="hortonMenu/basinMenu/basinMenuGroup"
               tooltip="%frame.menu.h.dist_euclidea.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_diameters"
               id="eu.hydrologis.jgrass.ui.actions.h_diameters"
               label="%frame.menu.h.diameters.label"
               menubarPath="hortonMenu/basinMenu/basinMenuGroup"
               tooltip="%frame.menu.h.diameters.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_topindex"
               id="eu.hydrologis.jgrass.ui.actions.h_topindex"
               label="%frame.menu.h.topindex.label"
               menubarPath="hortonMenu/basinMenu/basinMenuGroup"
               tooltip="%frame.menu.h.topindex.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_rescaleddistance3d"
               id="eu.hydrologis.jgrass.ui.actions.h_rescaleddistance3d"
               label="%frame.menu.h.rescaleddistance3D.label"
               menubarPath="hortonMenu/basinMenu/basinMenuGroup"
               tooltip="%frame.menu.h.rescaleddistance3D.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_rescaleddistance"
               id="eu.hydrologis.jgrass.ui.actions.h_rescaleddistance"
               label="%frame.menu.h.rescaleddistance.label"
               menubarPath="hortonMenu/basinMenu/basinMenuGroup"
               tooltip="%frame.menu.h.rescaleddistance.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_hypsographic"
               id="eu.hydrologis.jgrass.ui.actions.h_hypsographic"
               label="%frame.menu.h.hypsographic.label"
               menubarPath="hortonMenu/statisticMenu/statisticMenuGroup"
               tooltip="%frame.menu.h.hypsographic.tip">
         </action> 
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_cb"
               id="eu.hydrologis.jgrass.ui.actions.h_cb"
               label="%frame.menu.h.cb.label"
               menubarPath="hortonMenu/statisticMenu/statisticMenuGroup"
               tooltip="%frame.menu.h.cb.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_sumdownstream"
               id="eu.hydrologis.jgrass.ui.actions.h_sumdownstream"
               label="%frame.menu.h.sumdownstream.label"
               menubarPath="hortonMenu/statisticMenu/statisticMenuGroup"
               tooltip="%frame.menu.h.sumdownstream.tip">
         </action>         
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_trasmissivity"
               id="eu.hydrologis.jgrass.ui.actions.h_trasmissivity"
               label="%frame.menu.h.trasmissivity.label"
               menubarPath="hortonMenu/hydrologyMenu/hydrologyMenuGroup"
               tooltip="%frame.menu.h.trasmissivity.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_shalstab"
               id="eu.hydrologis.jgrass.ui.actions.h_shalstab"
               label="%frame.menu.h.shalstab.label"
               menubarPath="hortonMenu/hydrologyMenu/hydrologyMenuGroup"
               tooltip="%frame.menu.h.shalstab.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.h_peakflow"
               id="eu.hydrologis.jgrass.ui.actions.h_peakflow"
               label="%frame.menu.h.peakflow.label"
               menubarPath="hortonMenu/hydrologyMenu/hydrologyMenuGroup"
               tooltip="%frame.menu.h.peakflow.tip">
         </action>
      </actionSet>
      <actionSet
            description="JGrass tools"
            id="eu.hydrologis.jgrass.ui.actionsetjgrass"
            label="JGrass"
            visible="true">
         <menu
               id="jgrassMenu"
               label="&amp;JGrass">
            <separator
                  name="coveragetoolsGroupSep">
            </separator>
            <separator
                  name="rasterGroupSep">
            </separator>
            <groupMarker
                  name="toolsGroup">
            </groupMarker>
         </menu>
         <action
               class="eu.hydrologis.jgrass.ui.actions.g_setgrassenv"
               icon="icons/settings.gif"
               id="eu.hydrologis.jgrass.ui.action.setgrassenv"
               label="Grass Environment Settings"
               menubarPath="jgrassMenu/"
               tooltip="Configure the GRASS environment">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.g_setmapset"
               icon="icons/mapset_settings.png"
               id="eu.hydrologis.jgrass.ui.action.setmapset"
               label="Mapset Settings"
               menubarPath="jgrassMenu/"
               tooltip="Set the mapset to define the calculation region">
         </action>
         <menu
               icon="icons/raster_tools.png"
               id="rasterMenu"
               label="Raster Tools"
               path="jgrassMenu/rasterGroup">
            <groupMarker
                  name="rasterMenuGroup">
            </groupMarker>
         </menu>
         <action
               class="eu.hydrologis.jgrass.ui.actions.r_cutout"
               id="eu.hydrologis.jgrass.ui.actions.r.cutout"
               label="Raster cutout tool"
               menubarPath="jgrassMenu/rasterMenu/rasterMenuGroup"
               tooltip="Raster tool to cutout a map">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.r_to_vect"
               id="eu.hydrologis.jgrass.ui.actions.r.to.vect"
               label="Raster to vector tool"
               menubarPath="jgrassMenu/rasterMenu/rasterMenuGroup"
               tooltip="Transform raster map to vector layer">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.v_to_rast"
               id="eu.hydrologis.jgrass.ui.actions.v.to.rast"
               label="Vector to raster tool"
               menubarPath="jgrassMenu/rasterMenu/rasterMenuGroup"
               tooltip="Transform vector layer to raster map">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.v_addattributes"
               id="eu.hydrologis.jgrass.ui.actions.v_add_attribute"
               label="Add attribute to vector"
               menubarPath="jgrassMenu/rasterMenu/rasterMenuGroup"
               tooltip="Add attribute from scalarset to featurelayer">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.d_what_rast"
               icon="icons/smart.png"
               id="eu.hydrologis.jgrass.ui.actions.d.what.rast"
               label="Smart Query Tool"
               menubarPath="jgrassMenu/toolsGroup"
               tooltip="Queries layer maps">
         </action>
         <action
               class="eu.hydrologis.jgrass.ui.actions.r_mapcalc"
               id="eu.hydrologis.jgrass.ui.actions.r.mapcalc"
               label="Raster Calculator Tool"
               menubarPath="jgrassMenu/rasterMenu/rasterMenuGroup"
               tooltip="Makes algebra operations on raster maps">
         </action>
      </actionSet>

	

   </extension>
   <extension
         point="eu.hydrologis.jgrass.database.annotatedclasses">
      <annotatedclass
            annotatedclass="eu.hydrologis.jgrass.ui.actions.persistence.SimulationDescription">
      </annotatedclass>
      <annotatedclass
            annotatedclass="eu.hydrologis.jgrass.ui.actions.persistence.SimulationData">
      </annotatedclass>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="eu.hydrologis.jgrass.ui.featureimportcategory"
            class="eu.hydrologis.jgrass.ui.wizards.DxfImportWizard"
            icon="icons/icon_dxf.png"
            id="eu.hydrologis.jgrass.ui.wizards.DxfImportWizard"
            name="Dxf import">
         <description>
            Import a dxf file into the workspace.
         </description>
      </wizard>
      <wizard
            category="eu.hydrologis.jgrass.ui.featureimportcategory"
            class="eu.hydrologis.jgrass.ui.wizards.DwgImportWizard"
            icon="icons/icon_dwg.png"
            id="eu.hydrologis.jgrass.ui.wizards.DwgImportWizard"
            name="Dwg import">
         <description>
            Import a dwg file into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         id="eu.hydrologis.jgrass.tools"
         name="%tools.name"
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.hydrologis.jgrass.category.info"
            class="eu.hydrologis.jgrass.ui.utils.WhatRastTool"
            icon="icons/d_what_rast.png"
            id="eu.hydrologis.jgrass.ui.utils.whatrasttool"
            name="%whatrast.name"
            onToolbar="false"
            toolCursorId="whatrastCursor"
            tooltip="%whatrast.tooltip">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/measure_source.gif">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="whatrastCursor"
            image="icons/measure_source.gif">
      </toolCursor>
      <category
            id="eu.hydrologis.jgrass.category.info">
      </category>
   </extension>
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.udig.catalog.jgrass.core.JGrassMapsetGeoResource.contribution"
            objectClass="eu.udig.catalog.jgrass.core.JGrassMapsetGeoResource">
         <action
               class="eu.hydrologis.jgrass.ui.popups.SetActiveMapsetAction"
               icon="icons/active_mapset.png"
               id="eu.udig.catalog.jgrass.operations.RemoveMapsetAction"
               label="Set Active Mapset"
               tooltip="Set the selected mapset as active for calculations">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.udig.catalog.jgrass.core.JGrassMapGeoResource.contribution"
            objectClass="eu.udig.catalog.jgrass.core.JGrassMapGeoResource">
                                 <action
                           class="eu.hydrologis.jgrass.ui.popups.PatchMapsAction"
                           icon="icons/raster_patch.png"
                           id="eu.hydrologis.jgrass.ui.popups.PatchMapsAction"
                           label="Mosaic Maps"
                           tooltip="Mosaic together the selected maps">
         </action>
      </objectContribution>
   </extension>

</plugin>
